@charset "utf-8";
div.clearfix {
    clear: both;
}

.mt5px {
	margin-top: 5px;
}
.mt10px {
	margin-top: 10px;
}
.mt20px {
	margin-top: 10px;
}
.wd300 {
	width: 300px;
}
.wd200 {
	width: 300px;
}

/* item */
.item .panel-body {
    height: 70px;
}
.item .panel-heading {
    height: 250px;
}
.item .panel-heading img {
    height: 100%;
    max-width: 100%;
}
p.item-title {
    /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
   font-size: 15px;
   color: #555555;
   display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    
}

p.item- s a {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;	
}

/* item */
.item .panel-body {
    height: 120px;
}
.item .buttons form {
    display: inline-block;
    margin: 0 5px;
}

/* users */
.user-profile .name {
    margin-bottom: 20px;
}
.user-profile .name h1 {
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}
.user-profile .status ul {
    margin: 0 auto 10px;
    padding: 0;
    display: table;
}
.user-profile .status ul li {
    width: 120px;
    padding: 5px 0;
    border-right: 1px solid #ddd;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #777;
}
.user-profile .status ul li:last-child {
    border: none;
}
.user-profile .status ul li .status-label {
    font-size: 12px;
}
.user-profile .status ul li .status-value {
    font-size: 18px;
}

/* item fit */
.itemfit {
 object-fit: cover;
}

.item-date {
	font-size: 12px;
    color: #a8a8a8;
}

.item-show {
	width: 80%;
	height: 200px;
	background-color: skyblue;
}




/****************************
	詳細画面
******************************/

img.message_show {
    width: 300px;
}
.show_message li {
	padding: 30px;
}
.show_message dl dt {
	float: left;
}
.show_message dl dd {
	float: left;
	margin-left: 20px;

}
.show_message dl dd h4 {
	
}

.usercommentdiv {
	margin: 10px
}

.media-body div a {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;		
}
/***************************
	画像アップロード
***************************/
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}
/****************
	ユーザー
****************/
/* ========================================
    アバター画像
========================================= */
div#avatarimage {
    width: 280px;
    height: 300px;
    margin-left: 30px;
}

/* ========================================
    レフト
========================================= */
div#left ul {
  list-style:none;	
}
div#left {
    width: 280px;
    height: auto;
    float: left;
    margin-right: 30px;
}

div#left ul li {
    width: 250px;
    height: 48px;
    background-color: #f5fbff;
    margin-bottom: 10px;
    border: 1px solid #63abd4;
}

div#left ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;
    line-height: 50px;
    padding-left: 20px;
    display: block;
}


/* ========================================
    ライト
========================================= */

div#right {
    width: 650px;
    height: auto;
    float: left;
}

div#right h2 {
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 15px;
}

div#right dt {
    font-size: 12px;
    color: #a8a8a8;
    float: left;

    line-height: 40px;
    padding-left: 15px;
}

div#right dd {
    font-size: 13px;
    color: #555555;
    float: left;

    line-height: 40px;
}

#wrapper {
    width: 100%;
    margin: 20px auto 0 40px;

}

div.clearfix {
    clear: both;
}

.usr_title {
    font-size: 15px;
    color: #484848;
    line-height: 50px;
    text-align: right;
    font-weight: bold;


}
.usr_val {
    font-size: 14px;
    color: #555555;


}
.usr_hidden {
    padding-top: 50px;
     font-size: 14px;
    color: #555555;   
    line-height: 50px;

}


.usr_lineheight {
     line-height: 50px;   
}

.uline2 {
    border-bottom: dotted 1px #e0e0e0;
    padding-bottom: 10px;
}

.uline {
    border-bottom: dotted 1px #e0e0e0;
    margin-bottom: 10px;
}


.listimg {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
}

.listimgbody {
    margin: 10px;
    border-bottom: dotted 1px #555;
}

.listimgbody p {
    padding: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    
}

.lm10 {
    margin-left: 20px;
}

#right. {

   padding-top: 10px  
}


/********************
	ダイアログのサイズ
********************/

#modal-photo img{
	width:100%;
	
}



















/********************
    トップページ
*********************/
.profile {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;		   
    position: relative;
    padding-bottom: 10px;
    border-bottom: dotted 1px #555;

}
.userlist {
    position: absolute;
    top: 3px;
    left:3px;
    padding: 3px;
    background-color: #f0f0f0;  
    opacity: 0.8;
    color: red;
}

.likeit{
    padding: 4px 9px !important;
    font-size:15px !important;
    position: absolute;
    top: 3px;
    z-index: 1100;
	right: 3px;
    opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.4, 1.4, 1);
  transform: scale3d(1.4, 1.4, 1);
}











