@charset "utf-8";
div.clearfix {
    clear: both;
}

.mt5px {
	margin-top: 5px;
}
.mt10px {
	margin-top: 10px;
}
.mt20px {
	margin-top: 10px;
}
.wd300 {
	width: 300px;
}

/* item */
.item .panel-body {
    height: 70px;
}
.item .panel-heading {
    height: 250px;
}
.item .panel-heading img {
    height: 100%;
    max-width: 100%;
}
p.item-title {
    /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
   font-size: 15px;
   color: #555555;
   display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    
}

p.item- s a {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;	
}

/* item */
.item .panel-body {
    height: 120px;
}
.item .buttons form {
    display: inline-block;
    margin: 0 5px;
}

/* users */
.user-profile .name {
    margin-bottom: 20px;
}
.user-profile .name h1 {
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}
.user-profile .status ul {
    margin: 0 auto 10px;
    padding: 0;
    display: table;
}
.user-profile .status ul li {
    width: 120px;
    padding: 5px 0;
    border-right: 1px solid #ddd;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #777;
}
.user-profile .status ul li:last-child {
    border: none;
}
.user-profile .status ul li .status-label {
    font-size: 12px;
}
.user-profile .status ul li .status-value {
    font-size: 18px;
}

/* item fit */
.itemfit {
 object-fit: cover;
}

.item-date {
	font-size: 12px;
    color: #a8a8a8;
}

.item-show {
	width: 80%;
	height: 200px;
	background-color: skyblue;
}

/********
	リスト表示
********/

 object-fit: cover;


/****************************
	詳細画面
******************************/

img.message_show {
    width: 300px;
}
.show_message li {
	padding: 30px;
}
.show_message dl dt {
	float: left;
}
.show_message dl dd {
	float: left;
	margin-left: 20px;

}
.show_message dl dd h4 {
	
}

.usercommentdiv {
	margin: 10px
}

.media-body div a {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;		
}
/***************************
	画像アップロード
***************************/
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}
/****************
	ユーザー
****************/
.wdth200 {
	width: 200px;
	heigh: auto;
	margin: 0 auto;
}
#user_left {
}
#user_right{

}

div#user_left ul {
  list-style:none;	
}

div#user_left ul li {
    width: 278px;
    height: 48px;
    background-color: #f5fbff;
    margin-bottom: 10px;
    border: 1px solid #63abd4;
}


div#user_left ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;
    line-height: 50px;
    padding-left: 50px;
    display: block;
}



